[submodule "os/arch/install"]
	path = os/arch/install
	url = git@github.com:ansibulary/os_arch_install.git
	branch = master
[submodule "util/collect"]
	path = util/collect
	url = git@github.com:ansibulary/util_collect.git
	branch = master
[submodule "os/common/hostname"]
	path = os/common/hostname
	url = git@github.com:ansibulary/os_common_hostname.git
[submodule "os/common/time"]
	path = os/common/time
	url = git@github.com:ansibulary/os_common_time.git
[submodule "os/common/locale"]
	path = os/common/locale
	url = git@github.com:ansibulary/os_common_locale.git
